body{
  background-color: #eaeaea;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  color: #333;
  line-height: 1.5;
  overflow-x: hidden;
}
.navBg {
  background-color: #0B0B0A;
  height: 6vh;
}

.navbar-brand {
  margin-left: 1vw;
}
.code-block-wrapper {
  font-family: "Courier New", monospace;
  font-size: 14px;
  height: 200px;
  border-radius: 4px;
  background-color: #f5f5f5;
  resize: vertical;
  overflow-y: auto;
}

.layout {

  display: grid;
  grid:
    "prueba" 47vh
    "subir" 47vh
}

.subir { 
  grid-area: subir; 
  background-color: #f2f2f2;
}
.prueba { grid-area: prueba; 
  background-color: #eaeaea;
}

.layout2 {
  display: grid;
  grid:
    "relleno pregunta temporizador" auto
    / 20% 60% 20%;
}

.relleno { 
  grid-area: relleno; 
}
.pregunta { 
  grid-area: pregunta; 
}
.temporizador { 
  grid-area: temporizador; 
}


.text-enunciado {
  justify-content: center;
  display: flex;
  flex-direction: column;
  align-items: left;
  font-size: 2.3vw;
}