body{
  background-color: #eaeaea;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  color: #333;
  line-height: 1.5;
  overflow-x: hidden;
}
.navBg {
  background-color: #0B0B0A;
  height: 6vh;
}

.navbar-brand {
  margin-left: 1vw;
}
.code-block-wrapper {
  font-family: "Courier New", monospace;
  font-size: 14px;
  height: 200px;
  border-radius: 4px;
  background-color: #f5f5f5;
  resize: vertical;
  overflow-y: auto;
}

.layout {

  display: grid;
  grid:
    "prueba" 47vh
    "subir" 47vh
}

.subir { 
  grid-area: subir; 
  background-color: #f2f2f2;
}
.prueba { grid-area: prueba; 
  background-color: #eaeaea;
}

.text-enunciado {
  justify-content: center;
  display: flex;
  flex-direction: column;
  align-items: left;
  font-size: 2.3vw;
}

.layout3 {

  display: flex;
  flex-direction: row;
  justify-content: center;
}

.grow1 { 
  flex-grow: 3;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: #0B0B0A solid 1px;
  max-height: 26vh;
  max-width: 22vh;
  margin-left: 15vh;
  margin-right: 15vh;
  margin-top: 17vh;
  padding-top: 1vh;
  padding-bottom: 1vh;
}

.grow2 { 
  flex-grow: 3; 
}

.grow34 { 
  flex-grow: 6; 
}

.botonesPregunta{
  margin-right: 1vh;
  margin-bottom: 1vh;
}

.radio{
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 10vw;
  padding-left: 30vw;
}
.text-green{
  color: #1fce36;
  font-weight: bold;
}

.text-red{
  color: #ce1313;
  font-weight: bold;
}

.container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 5vh;
}
.resultados{
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 1vw;
}