body{
  background-color: #8AE4D5;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  color: #333;
  line-height: 1.5;
  overflow-x: visible;
}
.navBg {
  background-color: #0B0B0A;
  height: 6vh;
}

.navbar-brand {
  margin-left: 1vw;
}
.code-block-wrapper {
  font-family: "Courier New", monospace;
  font-size: 14px;
  height: 200px;
  border-radius: 4px;
  background-color: #f5f5f5;
  resize: vertical;
  overflow-y: auto;
}

.layout {

  display: grid;
  grid:
    "prueba" 47vh
    "subir" 47vh
}

.subir { 
  grid-area: subir;
  display: grid;
  grid:
    "botonesPrueba textoSubir" 1fr
    / 40% 60%;
  background-color: #FB818D;
  position: relative;
}
.botonSubir {
  grid-area: botonesPrueba;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.botonSubir::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('https://i.postimg.cc/8c0m5gpw/subir.jpg'); /* Reemplaza con la ruta de tu imagen */
  background-size: cover;
  background-position: center;
  filter: blur(5px); /* Aplica el desenfoque a la imagen */
}

.btnSubir {
  position: relative; /* Agrega esta línea para que el filtro de desenfoque no afecte al botón */
  padding: 10px 20px;
  background-color: #FB818D;
  color: #0B0B0A;
  border: #0B0B0A solid 0.5px;
  cursor: pointer;
  margin-bottom: 2vh;
}

.btnSubir:hover {
  background-color: #c71426;
  color: #f5f5f5;
  border: #0B0B0A solid 0.5px;
}

.textoSubir { 
  width: 100%;
  grid-area: textoSubir;
  display: flex;
  flex-direction: column;
  justify-content: right;
}
.tituloSubir{
  margin-top: 2vh;
  margin-left: 1vw;
  font-size: 2.3vw;
}
.cuerpoSubir{
  text-align: justify;
  margin-top: 1vh;
  margin-left: 1vw;
  margin-right: 1vw;
  font-size: 1.5vw;
}

.prueba { 
  grid-area: prueba; 
  display: grid;
  grid:
    "textoPrueba botonesPrueba" 1fr
    / 60% 40%;
  background-color: #8AE4D5;
  position: relative;
}
.textoPrueba { 
  grid-area: textoPrueba;
}

.tituloPrueba{
  text-align: left;
  margin-top: 2vh;
  margin-bottom: 2vh;
  margin-left: 1vw;
  font-size: 2.3vw;
  position: relative;
  color: #0B0B0A;
}
.cuerpoPrueba{
  text-align: justify;
  margin-top: 1vh;
  margin-left: 1vw;
  margin-right: 1vw;
  font-size: 1.5vw;
  color: #0B0B0A;
}
.botonesPrueba { 
  grid-area: botonesPrueba;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.botonesPrueba::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('https://i.postimg.cc/gJGDtKty/prueba.jpg'); /* Reemplaza con la ruta de tu imagen */
  background-size: cover;
  background-position: center;
  filter: blur(5px); /* Aplica el desenfoque a la imagen */
}

.btnPrueba {
  position: relative; /* Agrega esta línea para que el filtro de desenfoque no afecte al botón */
  padding: 10px 20px;
  background-color: #8DD9E7;
  color: #0B0B0A;
  border: #0B0B0A solid 0.5px;
  cursor: pointer;
  margin-bottom: 2vh;
}

.btnPrueba:hover {
  background-color: #4472a7;
  border: #0B0B0A solid 0.5px;
  color: #f5f5f5;
}

.tituloDificultad{
  text-align: center;
  margin-bottom: 2vh;
  font-size: 2vw;
  position: relative;
  color: #f5f5f5;
}

.text-enunciado {
  justify-content: center;
  display: flex;
  flex-direction: column;
  align-items: left;
  font-size: 2.3vw;
}

.layout3 {

  display: flex;
  flex-direction: row;
  justify-content: center;
}
.layout4 {

  display: flex;
  flex-direction: row;
  justify-content: center;
}

.grow1 { 
  flex-grow: 3;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: #0B0B0A solid 1px;
  max-height: 26vh;
  max-width: 22vh;
  margin-left: 15vh;
  margin-right: 15vh;
  margin-top: 17vh;
  padding-top: 1vh;
  padding-bottom: 1vh;
  background-color: #8AE4D5;
}

.grow2 { 
  flex-grow: 3; 
}

.grow34 { 
  flex-grow: 6;
}

.botonesPregunta{
  margin-right: 1vh;
  margin-bottom: 1vh;
  background-color: #8DD9E7;
  color: #0B0B0A;
  border: #0B0B0A solid 0.5px;
  cursor: pointer;
}

.botonesPregunta:hover {
  background-color: #4472a7;
  border: #0B0B0A solid 0.5px;
  color: #f5f5f5;
}
.botonesPreguntaAbajo{
  margin-right: 1vh;
  margin-bottom: 1vh;
  background-color: #FCD24D;
  color: #0B0B0A;
  border: #0B0B0A solid 0.5px;
  cursor: pointer;
  margin-right: 20vw;
}

.botonesPreguntaAbajo:hover {
  background-color: #856f2a;
  border: #0B0B0A solid 0.5px;
  color: #f5f5f5;
}
.botonesPreguntaAbajo1{
  margin-right: 1vh;
  margin-bottom: 1vh;
  background-color: #FCD24D;
  color: #0B0B0A;
  border: #0B0B0A solid 0.5px;
  cursor: pointer;
}

.botonesPreguntaAbajo1:hover {
  background-color: #856f2a;
  border: #0B0B0A solid 0.5px;
  color: #f5f5f5;
}
.radio{
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 10vw;
  padding-left: 30vw;
}
.text-green{
  color: #1fce36;
  font-weight: bold;
}

.text-red{
  color: #ce1313;
  font-weight: bold;
}

.container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 5vh;
}
.resultados{
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 1vw;
}
.boton{
  display: flex;
  flex-direction: row;
  justify-content: center;
}